/*  your css code here. If applicable */
td{
    padding: 1px;
    border: 1px solid black;
}
table {
      width: 100%;
      height: 100%;
      border: 1px solid black;
      border-spacing: 1px;
      padding: 1px;
    }
.green {
      background-color: green;
    }
.blue {
      background-color: blue;
    }